<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mityung.contactdirectory">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="23" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.mityung.contactdirectory.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainDashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserProfile"
            android:screenOrientation="portrait" />

        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".RegistrationIntentService"
            android:exported="false"></service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".PendingMemberList"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mityung.contactdirectory.AddNewGroup"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.contactplusgroup.crop.CropImageActivity"
            android:theme="@style/CustomTheme" />
        <activity
            android:name="com.mityung.contactdirectory.SignIn"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mityung.contactdirectory.VerifyOTP"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mityung.contactdirectory.ProfileSetting"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mityung.contactdirectory.GroupView"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mityung.contactdirectory.GroupSettings"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mityung.contactdirectory.AddNewMembers"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mityung.contactdirectory.Notification"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mityung.contactdirectory.GroupUserProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mityung.contactdirectory.SearchGroupMember"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mityung.contactdirectory.SearchList"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mityung.contactdirectory.SearchListView"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mityung.contactdirectory.AddToContactList"
            android:screenOrientation="portrait" />

        <receiver android:name="com.example.contactplusgroup.utils.DetectSms">
            <intent-filter android:priority="2147483647">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.mityung.contactdirectory.ContactSync"
            android:exported="false"></service>
        <activity
            android:name="com.mityung.contactdirectory.AppUpdate"
            android:screenOrientation="portrait" />
    </application>

</manifest>
